extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  if(product.categoryProduct.title )
    a(href=`/products/${product.categoryProduct.slug}`) #{product.categoryProduct.title}
  if(product.title)
    h3 #{product.title}
  if(product.price)
    div(class="mb-3") Giá: <b>#{product.price}đ</b>
  if(product.priceNew)
    div(class="mb-3") Giá mới: <b>#{product.priceNew}$</b>
  if(product.discountPercentage)
    div(class="mb-3") Giảm giá: <b>#{product.discountPercentage}%</b>
  if(product.stock == 0)
    div(class="mb-3") <b>Hết hàng, vui lòng quay lại sau! </b>
  else
    div(class="mb-3") Số lượng: <b>#{product.stock} sản phẩm</b>
  if(product.thumbnail)
    div(class="mb-3") 
      img(src=product.thumbnail style="width: 150px")

  if(product.description)
    p #{product.description}
  
    a( class="mb-5"
      href=`${prefixAdmin}/products/edit/${product.id}`
      class="btn btn-warning btn-sm"
      ) Sửa 

  form(
    action=`/cart/add/${product.id}`
    method="POST"
  )
    input(
      class="form-control mb-2"
      type="number"
      name="quantity"
      value="1"
      min="1"
      max=product.stock
    )
    button(
      type="submit"
      class="btn btn-success btn-block"
    ) Thêm vào giỏ hàng