extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/changeMulti.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block main
  +alert-suceess(5000)
  
  h1(class="mb-4") Tạo mới

  form(
    action=`${prefixAdmin}/roles/create`
    enctype="multipart/form-data"
    id="form-create-product"
    method="POST"
  )

    div(class="form-group")
      label(for="title") Tiêu đề
      input(
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
      )
    
    div(class="form-group")
      label(for="desc") Mô tả
      textarea(
        class="form-control textarea-mce"
        id="desc"
        name="description"
        rows="5"
      )

