extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/changeMulti.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block main
  +alert-suceess(5000)
  
  h1(class="mb-4") Thêm nhóm quyền mới

  form(
    action=`${prefixAdmin}/roles/create`
    method="POST"
  )

    div(class="form-group")
      label(for="title") Tiêu đề
      input(
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
      )
    
    div(class="form-group")
      label(for="desc") Mô tả
      input(
        type="text"
        class="form-control textarea-mce"
        id="desc"
        name="description"
      )
    
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary mt-3"
      ) Tạo mới

