extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)

  .container.my-3
    .row
      .col-12
        +box-head("Giỏ hàng")

    .row 
      .col-12
        table(class="table table-bordered")
          thead
            tr 
              th STT 
              th Ảnh 
              th Tên 
              th Giá
              th Số lượng
              th Tổng tiền 
              th Hành động
          tbody 
            tr
              td
              td 
                img(src="", width="80px")
              td
                a(href=`products/detail/:id`) Sản phẩm 1
              td 500$
              td  
                input(
                  type="number"
                  name="quantity"
                  value="1"
                  min="1"
                  max="1"
                  item-id=""
                  style="width: 60px"
                )
              td 1000$
              td
                a(
                  href=""
                )
