header.header
  .container-fluid 
    .row.align-item-center 
      .col-10
        .inner-logo 
          a(href=`${prefixAdmin}/dashboard`) ADMIN

      .col-2
        div(class="btn-group ms-5")
          button(class="btn btn-primary dropdown-toggle" 
            href="#" id="dropdownMenuLink" 
            aria-expanded="false"
            data-bs-toggle="dropdown"
          ) #{user.fullName}

          ul(class="dropdown-menu")
            li
              a(
                href=`${prefixAdmin}/my-account`
                class="btn btn-sm dropdown-item"
              ) <b>Thông tin cá nhân</b>
            li
              <hr class="dropdown-divider">
            li
              a(
                href=`${prefixAdmin}/auth/logout`
                class="btn btn-sm dropdown-item btn-dangXuat"
              ) <b>Đăng xuất</b>